*{
    margin: 0;
    padding: 0;
     font-family: 'Jost', sans-serif;
font-family: 'Poppins', sans-serif;
list-style: none;
text-decoration: none;
box-sizing: border-box;
scroll-behavior: smooth;

 
}
#search{
    width: 450PX;

}

#btn1{
    width: 150px;
    background:#333;
    color: white;
    border: 2px solid rgb(13, 13, 8);
    cursor : pointer;
 
      border-radius: 20px;
 }
section{
    padding: 5% 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
 background-image: url(https://cdn.leonardo.ai/users/ae48e829-ebe6-4c94-a690-b9336f0152b5/generations/807254e9-771c-4e8d-a261-8bf6a825d666/DreamShaper_v7_A_vibrant_young_girl_with_a_shopping_bag_in_han_1.jpg);
    background-position: center;
background-size: cover;
display: grid;
grid-template-columns: repeat(1,1fr);
align-items: center;

}
 
#btn1:hover{
    background-color: rgb(35, 4, 95);

}
#search{
    border-radius: 30px;
     border: 2px solid rgb(35, 4, 95);
 
}
#L1{
    float: left;
    color:#efefef;
    font-size:15px;
    border-radius: 90%;
    background-color: rgb(35, 4, 95);
}
#L1:hover{color: #333;

    background-color: rgb(165, 138, 138);
}
#L2{
    float: left;
 color: #ebe7e7;
    font-size:15px;
    border-radius: 90%;
    background-color:rgb(35, 4, 95);
}
#L2:hover{
    color: #333;

    background-color: rgb(165, 138, 138);
}
#L3{
    float: left;
 color: #f6f0f0;
    font-size:15px;
    border-radius: 90%;
    background-color:rgb(35, 4, 95);
}
#L3:hover{
    background-color: rgb(165, 138, 138);
    color: #333;

}
#image2{
    width: 500px;
    height: 400px;
}
#image1{
    width: 550px;
    height: 500px;
}
#L4{    

    float: left;
 color: #fff8f8;
    font-size:15px;
    border-radius: 90%;
    background-color:rgb(35, 4, 95);
  }
 #L4:hover{
    background-color: rgb(165, 138, 138);
color: #333;
}
 
.h1{
    float: left;
    color: rgb(245, 239, 239);
    font-size:20px;
    border-radius: 100%;
    background-color: rgb(35, 4, 95);

  }
  .h2{
    float: left;
    color: rgb(245, 239, 239);
     border-radius: 100%;
    background-color: rgb(35, 4, 95);

  }
#menu-icon{
    font-size: 35px;
    color: #333;
    z-index: 10001;
    cursor: pointer;


}
 
#img1{
 width:300px ;
height:90px ;
 }
 .logo img{
    max-width: 120px;
    height: auto;
 }
 .navmenu{
    display: flex;
    background-attachment: fixed;

    float: right;
    list-style: none;
  
  
 }
  
 .navmenu a{
    color: rgb(34, 11, 165);
    font-size: 20px;
    text-transform:capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
 
  }
 .navmenu a:hover{
    color: #333;
 }
 li{
    float: left;
    padding: 10px;
    font-size: 20px;
    color: rgb(165, 138, 138);
}
nav{
    height: 60px; 

 }
a{
   text-decoration: none;
   color: rgb(165, 138, 138);}
  
 header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px ;

 }
 #main-text p{
    color: #333;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
 }
 #main-text H1{
    color: #0d0c0c;
    font-size: 60px;
    text-transform: capitalize;
    line-height:1.1 ;
    font-weight: 600;
    margin: 6px 0 10px;


 }
 .main-btn{
    display: inline-block;
    color:rgb(16, 14, 14) ;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid rgb(25, 15, 15);
    padding: 12px 25px;
    transition: all .42s ease;
    
 }
.main-btn:hover{
    background-color:  rgb(165, 138, 138);
color: rgb(251, 247, 247);

}


#main-text h5{
   font-size: 16px;
   color: rgb(165, 138, 138);
   text-transform: capitalize;
   font-weight: 500;

}

 header{
    background-color: rgb(241, 234, 234);
    height: 55px;
    
 }
 /* trending-section-css */
 .center-text h2{
    color: black;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
 }
 .center-text span{

    color: rgb(34, 11, 165);
 }
 .Products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
 gap: 2rem;
}
#row{
    position: relative;
    transition: all .48s;
}
#row img{
    width: 100%;
    height: auto;
    transition: all .48s;
}
#row img:hover{
    transform: scale(0.9);
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: red;
}
.ratting i{
    color: rgb(245, 158, 19);
    
    font-size: 18px;
}
.price h4{font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    color: black;
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #333;
    padding: 3px 10px;
    border-radius: 2px;
}
.price p{
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.client-reviews{
    background-color: rgb(241, 234, 234);


}
.reviews{
    text-align: center;
}
.reviews h3{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.reviews img{
    width: 100px;
    height: auto;
    border-radius: 10000px;
    margin:10px 0;
}
.reviews p{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}
.reviews h2{
    font-size: 22px;
    color: #0d0c0c;
    text-transform:capitalize;
    margin-bottom: 2px;
    font-weight: 400;
}
/* update-section-css */
.up-center-text h2{
    text-align: center;
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom:  30px; 

}
.cart img{
    width: 330px;
 height: auto;    border-radius: 5px;


}
.update-cart{
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(310px, auto));
    gap: 1rem;     }   
    .cart h5{
        color: #333;
        font-size: 18px;
        font-weight: 600;
    }  
    .cart h6{
        color: black;
        font-size: 14px;
        font-weight: 500;

    }
    .cart p{
        color: #333;
        font-size: 15px;
        max-width: 380px;
        line-height: 25px;
        margin-bottom: 12px;
    }
/* Contact-section */
.contact{
    background-color: #fafafa;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(120px,auto));
gap: 3rem;
}
.first-info h2{
    width: 140px;
    height: auto;
}

.contact-info h4{
    color: #0d0c0c;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: rgb(34, 11, 165);
}
.social-icon i{
    color: #333;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}
.social-icon i:hover{
    transform: scale(1.3);
}
.end-text{    background-color: rgb(241, 234, 234);

    text-align: center;
    padding: 20px;
}
.end-text p{
    color: black;
    text-transform: capitalize;
}
/* Responsive-css */
@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}
@media(max-width:630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{
        font-size: 18px;
        transition: .4s;

    }
    .main-btn{
        padding: 10px 20px ;
        transition: .4s;
    }
}
@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: #edfff1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
       
     margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }

}